<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Appointment - Smart Queue</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'clinic/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Book Appointment</h2>
        <form method="POST" id = "appointment-form">
            {% csrf_token %}
            {{ form.department.label_tag }} {{ form.department }}
            <br>
            {{ form.doctor.label_tag }} {{ form.doctor }}
            <br>
            {{ form.date_time.label_tag }} {{ form.date_time }}
            <br>
            {% if form.errors %}
                <div class="error">
                    {{ form.errors }}
                </div>
                {% endif %}
                <button type="submit">Book Appointment</button> 
            </form> 
        <a href="{% url 'dashboard' %}">Back to Dashboard</a>
    </div>
    <script>
        document.getElementById('id_department').addEventListener('change', function() {document.getElementById('appointment-form').submit();
    });
    </script>
</body>
</html>
